/*roots and utils*/
:root{
    --ff-inter: "Inter", sans-setif;
    --ff-montserrat: "Montserrat", sans-serif;
    --color-corp: #046381;
    --color-dark-grey: #3a3a3a;
    --color-light-grey: #F6F6F6;
    --color-light-blue: rgba(163, 188, 197, 0.5);
}
body{
    font-family: var(--ff-inter);
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
}
.ff-mont{
    font-family: var(--ff-montserrat);
}
.container-fluid{
    padding: 0 100px;
}
.bg-corp{
    background-color: var(--color-corp);
}
.bg-grey-dark{
    background: var(--color-dark-grey);
}
.bg-light-grey{
    background: var(--color-light-grey);
}
.bg-light-blue{
    background: var(--color-light-blue);
}
.text-corp{
    color: var(--color-corp);
}
.fs-title{
    font-size: clamp(1rem, 0.575rem + 2.125vw, 3.125rem);
}
.fs-title-2{
    font-size: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.fs-paragraph-2{
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}
.fs-paragraph-3{
    font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
}
.fs-section-title{
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}
.text-balance{
    text-wrap: balance;
}
.bordered-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.w-fit-content{
    width: fit-content;
}
.w-max-content-lg{
    width: max-content;
}
.h-lg-70{
    height: 70%;
}
.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.four-line{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*main styles*/
.btn-primary, .btn-primary:active, .btn-primary:focus-visible, :not(.btn-check)+.btn:active {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    background: var(--color-corp);
    border: none;
    transition: all 0.3s ease;
    box-shadow: none;
    padding: 12px 50px;
    width: fit-content;
}
.btn-primary:hover{
    background: white;
    color: var(--color-corp);
}
.btn-primary-long{
    padding: 10px 100px;
}
.btn-rounded{
    padding: 5px 70px;
    border-radius: 20px;
}
.dropdown-toggle::after{
    display: none;
}
.bg-dark-nav{
    background-color:rgba(224, 224, 224, 0.4) ;
}
.search-form{
    max-width: 250px ;
}
.search-form input, .search-form button, .search-form {
    max-height: 30px;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    background-image: url('icons/burger.svg');
}
.form-control:focus, .navbar-toggler:focus {
    box-shadow: unset;
}
.banner-info-box{
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 40%;
}
.banner-info-box-2{
    width: 50%;
}
.catalog{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.catalog a {
    transition: all 0.3s ease;
}
.catalog a:hover {
    color: var(--color-corp);
    font-weight: 700;
}
.custom-transform.show{
    transform: unset !important;
    inset: 0px auto auto 105% !important;
}
.catalog-link{
    overflow: hidden;
}
.catalog-link img {
    transition: all 0.3s ease;
}
.catalog-link:hover img{
    transform: scale(1.1);
}
.catalog-info-box{
    bottom: 0;
    z-index: 2;
}
.catalog-info-box-height{
    height: 115px;
}
.card-hover{
    background: white;
    transition: all 0.3s ease;
}
.card-hover:hover{
    background: var(--color-corp);
    color: white;
}
.card-hover img {
    width: 100px;
    height: 100px;
}
.card-hover:hover img{
    transition: all 0.3s ease;
}
.card-hover:hover img{
    filter: contrast(0%) brightness(2);
}
.breadcrumb{
   margin-bottom: 1.5rem;
}
.slider-next, .slider-prev{
    transition: all 0.2s ease;
}
.slider-next:hover, .slider-prev:hover{
   opacity: 0.5;
}
.card-slider-h{
    height: 210px !important;
}
.text-box{
    top: 50%;
    transform: translateY(-50%);
}
.border-custom-left{
    border-radius: 50px 0 0 50px;
}
.border-custom-right {
    border-radius: 0 50px 50px 0;
}
.catalog-info-hover{
    background: var(--color-dark-grey);
    color: white;
    transition: all 0.3s ease;
}
.catalog-info-hover:hover{
    background: var(--color-corp);
}
.pagination-link{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
.pagination-link.active{
    color: var(--color-corp);
}
.form-control{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: unset;
    background-color: transparent;
    padding: .375rem 0;
}
.form-control:focus {
    background-color: transparent;
    border-color: var(--color-corp);
    outline: 0;
    box-shadow: unset;
}
.form-control::placeholder{
    opacity: 0.7;
}
.form-check-input:focus {
    border: 2px solid black;
    outline: 0;
    box-shadow: none;
}
.form-check-input[type=checkbox] {
    border-radius: 2px;
}
.form-check-input:checked {
    background-color: transparent;
    border-color: unset;
}
.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m5 10 4 4 6-6'/%3e%3c/svg%3e");
}

/*breackpoints*/
@media(max-width: 1650px){
    .container-fluid {
        padding: 0 70px;
    }
}
@media(max-width: 1200px) {
    .btn-primary{
        padding: 8px 30px;
    }
    .banner-info-box {
        height: 100%;
        width: 50%;
    }
}
@media(max-width: 990px){
    .bg-dark-nav{
        background-color: var(--color-corp);
    }
    .nav-link{
        color: white;
    }
    .container-fluid {
        padding: 0 60px;
    }
    .w-max-content-lg {
        width: unset;
    }
    .border-custom-left {
        border-radius: 50px 50px 0 0 ;
    }

    .border-custom-right {
        border-radius: 0 0 50px 50px;
    }
}
@media(max-width: 768px){
    .container-fluid {
        padding: 0 40px;
    }
    .h-md-300 {
        height: 300px;
    }
}
@media(max-width: 576px) {
    .container-fluid {
        padding: 0 30px;
    }
    .banner-info-box {
        height: fit-content;
        width: 100%;
        top: unset;
        bottom: 0;
        transform: unset;
    }
    .banner-info-box-2 {
        width: 70%;
        top: 50%;
        bottom: unset;
        transform: translateY(-50%);
    }
    .btn-primary {
        padding: 5px 25px;
    }
    .logo{
        width: 80px;
    }
    .navbar-toggler-icon{
        height: 20px;
        width: 20px;
    }
    .catalog-info-box-height {
        height: 80px;
    }
    .form-control::placeholder{
    opacity: 0.7;
    font-size: 12px;
}  
   .form-check-label{
    font-size: 12px;
   }
    
}
@media(max-width: 420px) {
    .container-fluid {
        padding: 0 15px;
    }
}